<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
  </head>
  <body>
    {% block body_block %}  {% endblock %}

    <div class="">
      {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
      {% else %}
        <h1>Hello, unregistered stranger!</h1>
      {% endif %}

      {% if categories %}
        <ul>
        {% for category in categories %}
          <li> <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }} </a></li>
        {% endfor %}

        </ul>
        {% else %}
          <strong>There are no categories present.</strong>
      {% endif %}

      {% if user.is_authenticated %}
      <a href="/rango/restricted/">Restricted Page</a><br />
      <a href="{% url 'rango:add_category' %}">Add a New Category</a><br />
      <a href="/rango/logout/">Logout</a><br />
      {% else %}
      <a href="/rango/register/">Register Here</a><br />
      <a href="/rango/login/">Login</a><br />
      {% endif %}
      <a href="/rango/">Home</a><br />
      <a href="/rango/about/">About</a><br/>
    </div>
  </body>
</html>
